:root {

    /* Cores */

    --primary-color: #A9D6F5;

    --secondary-color: #27B4E5;

    --accent-color: #8FB996;

    --white: #FFFFFF;

    --background-color: #F8FCFF;

    --text-color: #3D4A57;

    --text-light: #72808D;

    --gradient-primary: linear-gradient(
        180deg,
        #A9D6F5 0%,
        #F8FCFF 40%,
        #FFFFFF 100%
    );

    /* Fontes */

    --font-title: "Great Vibes", cursive;

    --font-heading: "Cormorant Garamond", serif;

    --font-body: "Poppins", sans-serif;

    /* Layout */

    --container-width: 1200px;

}